.faq {
    width: 87%;
    margin-top: 1rem;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-option4);
}