.faq {
    width: 87%;
    margin-top: 1rem;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-option4);
}

@media (min-width: 1025px) {
    .faq {
        height: auto;
        margin-top: 2.5rem;
        justify-self: start;
        align-self: flex-start;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}