.illustration {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
}

.illustration__shadow--container {
    display: flex;
    justify-content: center;
}

.illustration__box,
.illustration__base,
.illustration__shadow {
    position: absolute;
}

.illustration__box {
    z-index: 300;
    top: -25px;
    left: 32px;
    width: 28%;
}
.illustration__base {
    z-index: 200;
    top: -75px;
    width: 70%;
}
.illustration__shadow {
    z-index: 100;
    top: 5px;
    width: 70%;
}

@media (min-width: 320px) {
    .illustration__box {
        top: -30px;
        left: 37px;
    }
    .illustration__base {
        top: -87px;
    }
}

@media (min-width: 360px) {
    .illustration__box {
        top: -35px;
        left: 40px;
    }
    .illustration__base {
        top: -98px;
    }
}

@media (min-width: 375px) {
    .illustration__box {
        top: -38px;
        left: 42px;
    }
    .illustration__base {
        top: -100px;
    }
}

@media (min-width: 384px) {
    .illustration__box {
        top: -37px;
        left: 43px;
    }
    .illustration__base {
        top: -104px;
    }
}

@media (min-width: 411px) {
    .illustration__box {
        top: -42px;
        left: 45px;
    }
    .illustration__base {
        top: -112px;
    }
}

@media (min-width: 412px) {
    .illustration__box {
        top: -38px;
        left: 47px;
    }
    .illustration__base {
        top: -110px;
    }
}

@media (min-width: 480px) {
    .illustration__box {
        top: -35px;
        left: 75px;
        width: 23%;
    }
    .illustration__base {
        top: -110px;
        width: 60%
    }
    .illustration__shadow {
        width: 60%;
    }
}

@media (min-width: 540px) {
    .illustration__box {
        top: -45px;
        left: 85px;
        width: 23%;
    }
    .illustration__base {
        top: -125px;
        width: 60%
    }
    .illustration__shadow {
        width: 60%;
    }
}

@media (min-width: 600px) {
    .illustration__box {
        top: -48px;
        left: 95px;
        width: 23%;
    }
    .illustration__base {
        top: -140px;
        width: 60%
    }
    .illustration__shadow {
        width: 60%;
    }
}

@media (min-width: 640px) {
    .illustration__box {
        top: -48px;
        left: 100px;
        width: 23%;
    }
    .illustration__base {
        top: -147px;
        width: 60%
    }
    .illustration__shadow {
        width: 60%;
    }
}

@media (min-width: 768px) {
    .illustration__box {
        top: -60px;
        left: 120px;
        width: 23%;
    }
    .illustration__base {
        top: -180px;
        width: 60%
    }
    .illustration__shadow {
        width: 60%;
    }
}

@media (min-width: 800px) {
    .illustration__box {
        top: -65px;
        left: 130px;
        width: 23%;
    }
    .illustration__base {
        top: -185px;
        width: 60%
    }
    .illustration__shadow {
        width: 60%;
    }
}

@media (min-width: 801px) and (max-width: 1024px) {
    .illustration__box {
        top: -80px;
        left: 170px;
        width: 23%;
    }
    .illustration__base {
        top: -235px;
        width: 60%
    }
    .illustration__shadow {
        width: 60%;
    }
}

@media (min-width: 1025px) {
    .illustration {
        position: relative;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    .illustration__box,
    .illustration__base,
    .illustration__shadow {
        position: relative;
    }
    .illustration__box {
        position: fixed;
        top: 425px;
        left: 75px;
        width: 16%;
    }
    .illustration__base {
        top: 25px;
        left: -55px;
        width: 100%;
    }
    .illustration__shadow {
        position:absolute;
        top: -150px;
        left: -300px;
        width: 170%;
    }
}

@media (min-width: 1280px) {
    .illustration__box {
        top: 230px;
        left: 91px;
    }
    .illustration__base {
        top: -8px;
        left: -75px;
    }
    .illustration__shadow {
        top: -240px;
        left: -380px;
    }
}

@media (min-width: 1280px) and (min-height: 950px) {
    .illustration__box {
        top: 415px;
        left: 90px;
    }
    .illustration__base {
        top: -8px;
        left: -75px;
    }
}

@media (min-width: 1440px) {
    .illustration__box {
        top: 385px;
        left: 105px;
    }
    .illustration__base {
        top: 0px;
        left: -85px;
    }
    .illustration__shadow {
        top: -290px;
        left: -435px;
    }
}