
.faq__item {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    border-bottom: 0.1rem solid var(--color-text-option4);
}

.faq__question {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    cursor: pointer;
}

.faq__icon {
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
}

.faq__answer {
    margin-top: 1.5rem;
    font-size: 1rem;
}

.active {
    font-size: var(--font-size-base-active);
    font-weight: 900;
}

.invisible {
    display: none;
}

.rotate {
    transform: rotate(180deg)
}