.app {
  width: 85%;
  height: auto;
  min-height: 75%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
  margin-bottom: var(--margin-base);
  padding-bottom: 5rem;
  border-radius: var(--border-radius);
  background-color: var(--color-divider-option1);
}

@media (min-width: 600px) {
  .app {
    margin-top: 17rem;
    margin-bottom: 17rem;
  }
}

@media (min-width: 768px) {
  .app {
    margin-top: 23rem;
  }
}