@import-normalize;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--font-family-kumbh);
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.root {
  width: inherit;
  min-height: inherit;
  height: inherit;
}