* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--font-family-kumbh);
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  flex: 1;
  background: linear-gradient(180deg, var(--color-gradient-option1) 50%, var(--color-gradient-option2) 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.root {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
}