:root {
    --font-family-kumbh: 'Kumbh Sans', sans-serif;

    --font-weight-normal: 400;
    --font-weight-bold: 700;

    --font-size-base: 1.2rem;
    --font-size-title: 3rem;

    --layout-mobile: 375px;
    --layout-desktop: 1440px;

    --color-gradient-option1: hsl(273, 75%, 66%); /* HEX #af67e9 */
    --color-gradient-option2: hsl(240, 73%, 65%); /* HEX #6565e7 */

    --color-text-option1: hsl(238, 29%, 16%);
    --color-text-option2: hsl(14, 88%, 65%);
    --color-text-option3: hsl(237, 12%, 33%);
    --color-text-option4: hsl(240, 6%, 50%);

    --color-divider-option1: hsl(240, 5%, 91%);

    --border-radius: 3rem;

    --margin-base: 6rem;
}